

<div class="well well-lg" id="map">
    @{
        ViewData["Title"] = "Contact";
    }

    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <h1 class="page-header">Find Us! <br /><small id="sm">Come and see our largest and most affordable designer collections!</small></h1>

                    <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                    <p>@Html.ActionLink("Home", "Index", "Home")</p>

                <div class="col-lg-11" id="map">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1183.0350459045758!2d-80.03954642291671!3d33.00038979082085!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x105334926d9634f9!2sR+%26+D+Fashion+Bridal+and+Tuxedo+Rental!5e0!3m2!1sen!2sus!4v1477624369882" width="900" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                        <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB703ylB3v_cISBMStsPyx0Yl7BQFkLog0&callback=initMap">
                        </script>
                </div>
            </div>
        </div>


        <div id="contact" class="col-md-10">
            <div class="col-md-8" id="address">
                <div class="container-fluid">
                    <h2>Set up an Appointment!</h2>
                    <h4> We will help make your special day perfect!</h4>
                    <p><i class="fa fa-phone fa-3x" aria-hidden="true"></i>  (843)797-2032</p>
                    <p>or</p>
                    <p><i class="fa fa-envelope-o fa-3x"></i> <a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>

            <div class="col-md-6" id="address">
                <h3>R&D Fashion and Bridal</h3>
                <p>
                    Located in the Village Center<br />
                    119 Suite L North Hwy. 52<br />
                    Goose Creek, SC 29445<br />
                </p>

           <p><i class="fa fa-clock-o fa-3x" aria-hidden="true" alt="Operating Hours"></i><h4> Monday - Saturday: 10:00 AM to 7:00 PM</h4> <br /><h4>Close on Sundays</h4></p>
            </div>
        </div>
    </div>
</div>