

<div class="well well-lg">
    @{
        ViewData["Title"] = "Contact";
    }

    <div class="container">
        <div class="row">
            <i class="col-lg-12">
               <h1 class="page-header">Find Us! <br /><small>Come and see our largest and most affordable designer collections!</small></h1>
               <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                  <p>@Html.ActionLink("Home", "Index", "Home")</p>
         </div>
            <div class="col-lg-11">
                <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                <iframe width="100%" scrolling="no" height="400px" frameborder="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed" marginwidth="0" marginheight="0"></iframe>
            </div>
     </div><!-- /.row -->
        <div class="row">
            <div class="col-md-4" id="address">
                <h3>Set up an Appointment!</h3>
                <p> We will help make your special day perfect!</p>
                <p><i class="fa fa-phone fa-2x" aria-hidden="true"></i> (843)797-2032</p>
                <p>or</p>
                <p><i class="fa fa-envelope-o fa-2x"></i> <a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a></p>
             </div>
         </div>

            <div class="col-md-4" id="address">
                <h3>R&D Fashion and Bridal</h3>
                <p>
                    Located in the Village Center<br />
                    119 Suite L North Hwy. 52<br />
                    Goose Creek, SC 29445<br />
                </p>

                <p><i class="fa fa-clock-o fa-2x"></i> Monday - Saturday: 10:00 AM to 7:00 PM <br /> Close on Sundays</p>
                  <ul class="list-unstyled list-inline list-social-icons">
                      <li class="tooltip-social facebook-link"><a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-page"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                      <li class="tooltip-social linkedin-link"><a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-company-page"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                      <li class="tooltip-social twitter-link"><a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                      <li class="tooltip-social google-plus-link"><a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-page"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                  </ul>
            </div>
 </div>