<div class="jumbotron">
    <div class="container-fluid">
        <div class="text-center" id="all">
          <h1 id="other"><i id="heading">R&D</i> Fashion and Bridal</h1>
        </div>
        @{
            ViewData["Title"] = "Home Page";
        }

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                        <img src="~/images/bride.jpg" alt="Wedding Gowns" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Wedding Gowns.

                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/children.jpg" alt="Commmunion" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Communion

                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/tuxedo.jpg" alt="Mens and Boys Tuxedos" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Mens and Boys Tuxedos.

                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/formal.jpg" alt="Formal and Prom Gowns" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            Formal and Prom Gowns.

                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2>LAY AWAY IS AVAILABLE!!!!</h2>
                </div>

            <div class="col-md-3" id="special">
                <div class="dropdown">
                    <button id="dLabel" type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FREE
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <i class="text-center">
                            <h3>
                                FREE!!<br />
                                Men's Tux Rental: When you Pay for six rentals, you get one free!!!!
                            </h3>
                        </i>
                    </ul>
                </div>
            </div>

                <div class="col-md-3" id="special">
                    <div class="dropdown">
                        <button id="dLabel" type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            $5 dollars off
                            <span class="caret"></span>
                        </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <i class="text-center">
                                    <h3>
                                        $5 OFF
                                        Purchase ANY boys Suit or Girls Dress!!!!
                                    </h3>
                                 </i>
                            </ul>
                        </div>
                    </div>

            <div class="col-md-3" id="special">
                <div class="dropdown">
                    <button id="dLabel" type="button"  class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        $10 dollars off
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <i class="text-center">
                            <h3>
                                $10 OFF
                                Purchase ANY Formal Gown!!!!
                            </h3>
                        </i>
                    </ul>
                </div>
            </div>

            <div class="col-md-3" id="special">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Rentals</button>

                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-4"><h4><strong>*Tuxedo Rentals as low as $49.95</strong></h4></div><br />
                                <div class="col-md-3 col-md-offset-4"><h4><strong>*New Bridal Gowns as low as $99.95</strong></h4></div><br />
                                <div class="col-md-3 col-md-offset-4"><h4><strong>*Children's Dresses as low as $39.95</strong></h4></div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
      </div>
   </div>

        <div class="container" id="words">

            <p>
                <h4 class="words">
                    <strong>R&D Fashion and Bridal </strong> carries the largest and most affordable selection of bridal, Tuxedo, prom and formal wears in the Charleston, SC area.<br />

                    We are proud to offer a wide selection of bridal gowns, bridesmaid dresses, mother of the bride gowns, tuxedo rentals, shoes, jewelry, headpieces, veils, and many other accessories.<br />

                    We carry a large collection of bridal designers to ensure that you can find the perfect look for your own special day.<br />

                    Need a specific dress? Let us help you find it!!

                    Please contact us today and let us help make your special day perfect!
                </h4>
            </p>
        </div>
     </div>
   </div>
